@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('fonts/DINNextLTPro-UltraLight.eot');
  src: url('fonts/DINNextLTPro-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('fonts/DINNextLTPro-UltraLight.woff') format('woff'),
  url('fonts/DINNextLTPro-UltraLight.ttf') format('truetype'),
  url('fonts/DINNextLTPro-UltraLight.svg#fonts/DINNextLTPro-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('fonts/DINNextLTPro-Light.eot');
  src: url('fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/DINNextLTPro-Light.woff') format('woff'),
  url('fonts/DINNextLTPro-Light.ttf') format('truetype'),
  url('fonts/DINNextLTPro-Light.svg#fonts/DINNextLTPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('fonts/DINNextLTPro-Italic.eot');
  src: url('fonts/DINNextLTPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/DINNextLTPro-Italic.woff') format('woff'),
  url('fonts/DINNextLTPro-Italic.ttf') format('truetype'),
  url('fonts/DINNextLTPro-Italic.svg#fonts/DINNextLTPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('fonts/DINNextLTPro-Regular.eot');
  src: url('fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/DINNextLTPro-Regular.woff') format('woff'),
  url('fonts/DINNextLTPro-Regular.ttf') format('truetype'),
  url('fonts/DINNextLTPro-Regular.svg#fonts/DINNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$spacing: 4rem;
$whitespace: 12rem;
$gutter: $spacing;
$border-radius: .5rem;

$blue: #0076FF;
$primary: $blue;
$gradient1: linear-gradient(135deg, #0048FF, rgba(#00ABFF, .75));

$font-family: 'DIN Next LT Pro', sans-serif;

$fa-font-path: 'fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/nude-scss/scss/nude';

h1,h2,h3,h4,h5,h6 {
  font-weight: 200;
  margin-bottom: 1rem;
}

html {
  @include media($bp-sm) {
    font-size: 55%;
  }
}

p {
  font-weight: 300;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: $spacing;
  max-width: 120rem;
  margin: 0 auto;
}

.is-text-right {
  text-align: right;

  @include media($bp-sm) {
    text-align: left;
  }

}

////////////////////////////////////////////////////////////////////////////

.logo {
  margin: 2rem auto $whitespace / 2;
  display: block;
  width: 8rem;
}

////////////////////////////////////////////////////////////////////////////

.hero {
  position: relative;
  padding: 0 (4 * $spacing);
  color: $white;
  display: flex;

  @include media($bp-sm) {
    padding: 0 (2 * $spacing);
  }

  @include media($bp-xs) {
    padding: $spacing;
  }

}

.hero__background {
  background: no-repeat center url('img/dude_with_phone.jpg');
  background-size: cover;
  border-radius: $border-radius;
  position: absolute;
  top: $whitespace / 2;
  left: 0;
  right: 0;
  bottom: $whitespace / 2;
  z-index: 0;

  @include media($bp-xs) {
    top: 0;
    bottom: 0;
  }

}

.hero__phone,
.hero__content {
  position: relative;
  z-index: 2;
}

.hero__phone {

  width: 40%;

  @include media($bp-sm) {
    width: 40%;
  }

  @include media($bp-xs) {
    display: none;
  }

}

.phone {
  filter: drop-shadow( 0 0 20px rgba(black, .1) );
}

.hero__content {
  padding: $whitespace 0;
  padding-left: $spacing;
  width: 60%;

  @include media($bp-sm) {
  }

  @include media($bp-xs) {
    width: auto;
    padding: 0;
  }

}

.hero__title {
  font-size: 5.6rem;

  @include media($bp-xs) {
    font-size: 4rem;
  }

}

.hero__tagline {
  font-size: 2.4rem;
  opacity: .75;
}

.hero__buttons {
  margin-top: $whitespace / 2;
  display: flex;
  align-items: center;

  .button {
    font-size: 1.6rem;
    font-weight: 300;
    width: 50%;
    padding: 0;
    text-align: center;
  }

  @include media($bp-xs) {
    display: none;
  }

}

.button.is-primary {
  background: $white;
  color: $blue;
  height: 7rem;
  line-height: 7rem;
  margin-right: $gutter / 2;
}

.button.is-secondary {
  background: rgba($white, .1);
  margin-left: $gutter / 2;
}

////////////////////////////////////////////////////////////////////////////

.phone {
  path,
  rect {
    fill: white;
    stroke: #cccccc;
  }
}
.messages {
  position: absolute;
  top: 7rem;
  left: 1.8rem;
  right: 2.0rem;
  bottom: 7.5rem;
  padding: 2rem 1rem;
}

.message {
  margin-bottom: 1rem;
  animation: messageIn .25s ease-out forwards;
}

.message__text {
  border-radius: 1.5rem;
  background: $light-gray;
  padding: .75rem 1rem;
  line-height: 1.2;
  color: $black;
  font-size: 1.2rem;
  display: inline-block;
  max-width: 80%;
  margin: 0;
}

.message.is-me {
  text-align: right;

  .message__text {
    background: $blue;
    color: $white;
    text-align: left;
  }
}

@keyframes messageIn {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

////////////////////////////////////////////////////////////////////////////

.section {
  margin: $whitespace 0;
  padding: 0 2 * $spacing;

  @include media($bp-xs) {
    padding: 0;
  }

}

.section__image {
  margin: 0 auto;
  height: 24rem;
}

.subtitle {
  color: $primary;
  font-size: 2rem;
}

////////////////////////////////////////////////////////////////////////////

.splits {
  margin: $whitespace 0;

  @include media($bp-xs) {
    margin: $whitespace -#{$gutter/2};
  }

}

.split {
  padding: 2 * $spacing 0;
  text-align: center;
}

.split.is-first {
  background: url('img/box_1.jpg') no-repeat center;
  background-size: cover;
  color: $white;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  @include media($bp-xs) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

}

.split.is-second {
  background: url('img/box_2.jpg') no-repeat center;
  background-size: cover;
  color: $blue;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  @include media($bp-xs) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

}

.split__number {
  display: inline-block;
  margin: 0 auto $spacing / 4;
  font-size: 12rem;
  font-weight: 200;

  sup {
    top: 0;
    font-weight: 200;
    font-size: 6rem;
  }

}

.split__text {
  display: block;
}

////////////////////////////////////////////////////////////////////////////

.steps h2 {
  text-align: center;
  margin-bottom: $whitespace / 2;
}

.step__number {
  display: inline-block;
  position: relative;
  font-size: 4rem;
  color: $blue;
  width: 6rem;
  height: 6rem;
  text-align: right;
  line-height: 6rem;
  vertical-align: top;

  &:before {
    content: '';
    position: absolute;
    display: block;
    background: $off-white;
    top: 0;
    left: 0;
    bottom: 2rem;
    right: 2rem;
    z-index: -1;
  }
}

////////////////////////////////////////////////////////////////////////////

.contact {
  max-width: 48rem;
  border-radius: $border-radius;
  background: $gradient1;
  padding: $spacing;
  margin: $whitespace auto 0;
  color: $white;
}

.contact h2 {
  text-align: center;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact li {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.contact address {

  font-style: normal;

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }

  li {
    font-size: 1.6rem;
  }
}

////////////////////////////////////////////////////////////////////////////

.footer {
  text-align: center;
  opacity: .25;
  margin: $whitespace 0 $whitespace/4;
}